<config>
    <modules>
        <SNS_CmsMenus>
            <version>0.0.0.6</version>
        </SNS_CmsMenus>
    </modules>
    <global>
        <models>
            <cmsMenu>
                <class>SNS_CmsMenus_Model</class>
                <resourceModel>cmsMenu_resource</resourceModel>
            </cmsMenu>
            <cmsMenu_resource>
                <class>SNS_CmsMenus_Model_Resource</class>
                <entities>
                    <menu>
                        <table>cms_menu</table>
                    </menu>
                    <relation>
                        <table>relation</table>
                    </relation>
                </entities>
            </cmsMenu_resource>
        </models>
        <helpers>
            <cmsMenus>
                <class>SNS_CmsMenus_Helper</class>
            </cmsMenus>
        </helpers>
        <resources>
            <cmsMenus_setup>
                <setup>
                    <module>SNS_CmsMenus</module>
                </setup>
            </cmsMenus_setup>
        </resources>
        <blocks>
            <cmsMenu>
                <class>SNS_CmsMenus_Block</class>
            </cmsMenu>
        </blocks>
    </global>

    <admin>
        <routers>
            <menu_admin>
                <use>admin</use>
                <args>
                    <module>SNS_CmsMenus</module>
                    <frontName>menu_admin</frontName>
                </args>
            </menu_admin>
        </routers>
        <!--<routers>
            <adminhtml>
                <args>
                    <modules>
                        <menu_admin after="Mage_Adminhtml">SNS_CmsMenus_Adminhtml</menu_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>-->
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsMenu>
                    <file>menu.xml</file>
                </cmsMenu>
            </updates>
        </layout>

    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cmsMenu>
                    <file>menu.xml</file>
                </cmsMenu>
            </updates>
        </layout>
        <events>
            <cms_page_render>
                <observers>
                    <indicate>
                        <class>cmsMenu/observer</class>
                        <method>cms_page_render_func</method>
                    </indicate>
                </observers>
            </cms_page_render>
        </events>
    </frontend>

</config>
