<config>
    <modules>
        <PriceDisablingNS_PriceDisabling>
            <version>0.0.0.1</version>
        </PriceDisablingNS_PriceDisabling>
    </modules>
    <global>
        <models>
            <priceDisabling>
                <class>PriceDisablingNS_PriceDisabling_Model</class>
            </priceDisabling>
        </models>
        <helpers>
            <priceDisabling>
                <class>PriceDisablingNS_PriceDisabling_Helper</class>
            </priceDisabling>
        </helpers>
        <blocks>
            <priceDisabling>
                <class>PriceDisablingNS_PriceDisabling_Block</class>
            </priceDisabling>
        </blocks>
        <resources>
            <priceDisabling_setup>
                <setup>
                    <module>PriceDisablingNS_PriceDisabling</module>
                </setup>
            </priceDisabling_setup>
        </resources>
    </global>

    <frontend>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <product_view_observer>
                        <type>singleton</type>
                        <class>priceDisabling/observerView</class>
                        <method>observe_views</method>
                    </product_view_observer>
                </observers>
            </catalog_controller_product_view>
            <catalog_block_product_list_collection>
                <observers>
                    <product_list_observer>
                        <class>priceDisabling/observerList</class>
                        <method>observe_list</method>
                    </product_list_observer>
                </observers>
            </catalog_block_product_list_collection>
            <catalog_product_is_salable_after>
                <observers>
                    <product_saleble_observer>
                        <class>priceDisabling/observerSaleble</class>
                        <method>observe_saleble</method>
                    </product_saleble_observer>
                </observers>
            </catalog_product_is_salable_after>
        </events>
    </frontend>

    <frontend>
        <layout>
            <updates>
                <priceDisabling>
                    <file>disable_prices.xml</file>
                </priceDisabling>
            </updates>
        </layout>
    </frontend>

</config>
