<config>
    <modules>
        <SharesNS_Shares>
            <version>0.0.0.2</version>
        </SharesNS_Shares>
    </modules>
    <global>
        <models>
            <shares>
                <class>SharesNS_Shares_Model</class>
                <resourceModel>shares_resource</resourceModel>
            </shares>
            <shares_resource>
                <class>SharesNS_Shares_Model_Resource</class>
                <entities>
                    <shares>
                        <table>shares</table>
                    </shares>
                    <relation>
                        <table>shares_relation</table>
                    </relation>
                </entities>
            </shares_resource>
        </models>
        <helpers>
            <shares>
                <class>SharesNS_Shares_Helper</class>
            </shares>
        </helpers>
        <blocks>
            <shares>
                <class>SharesNS_Shares_Block</class>
            </shares>
        </blocks>
        <resources>
            <shares_setup>
                <setup>
                    <module>SharesNS_Shares</module>
                </setup>
            </shares_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <shares>
                <use>admin</use>
                <args>
                    <module>SharesNS_Shares</module>
                    <frontName>shares</frontName>
                </args>
            </shares>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <shares>
                    <files>
                        <default>SharesNS_Shares.csv</default>
                    </files>
                </shares>
            </modules>
        </translate>
        <layout>
            <updates>
                <shares_layout>
                    <file>shares.xml</file>
                </shares_layout>
            </updates>
        </layout>
    </adminhtml>

   <!-- <admin>
        <routers>
            <menu_admin>
                <use>admin</use>
                <args>
                    <module>SNS_CmsMenus</module>
                    <frontName>menu_admin</frontName>
                </args>
            </menu_admin>
        </routers>-->
        <!--<routers>
            <adminhtml>
                <args>
                    <modules>
                        <menu_admin after="Mage_Adminhtml">SNS_CmsMenus_Adminhtml</menu_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>-->
   <!-- </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsMenu>
                    <file>menu.xml</file>
                </cmsMenu>
            </updates>
        </layout>

    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <cmsMenu>
                    <file>menu.xml</file>
                </cmsMenu>
            </updates>
        </layout>
        <events>
            <cms_page_render>
                <observers>
                    <indicate>
                        <class>cmsMenu/observer</class>
                        <method>cms_page_render_func</method>
                    </indicate>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
-->
</config>
