<?xml version="1.0" encoding="UTF-8"?>
<config>
  <!--  <tabs>
        <ign  translate="label"> &lt;!&ndash; Добавим свою вкладку в меню слева&ndash;&gt;
            <label>IGN</label>
            <sort_order>2</sort_order>
        </ign>
    </tabs>
    <sections>
    <siteblocks translate="label">
    <label>Siteblocks</label>
    <tab>ign</tab> &lt;!&ndash; В какой вкладке вывести наши настройки &ndash;&gt;
    <frontend>text</frontend>
    <sort_order>1</sort_order>
    <show_in_default>1</show_in_default>
    <show_in_website>1</show_in_website>
    <show_in_store>1</show_in_store>
    </siteblocks>
    </sections>
    <sections>
        <siteblocks1 translate="label">
            <label>Siteblocks</label>
            <tab>ign</tab> &lt;!&ndash; В какой вкладке вывести наши настройки &ndash;&gt;
            <frontend>text</frontend>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
        </siteblocks1>
    </sections>
-->
    <sections>
        <carriers>
            <groups>
                <new_method translate="label">
                    <label>New Method</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>999</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <active translate="label">
                            <label>Active:</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title:</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <name translate="label">
                            <label>Method Name</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </name>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>5</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <type translate="label">
                            <label>Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_shipping_flatrate</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </type>
                        <first_deliver_price translate="label">
                            <label>Current Deliver Price</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <validate>validate-number validate-zero-or-greater</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </first_deliver_price>
                        <weight_price translate="comment">
                            <label></label>
                            <frontend_model>my_shop/system_fields</frontend_model>
                            <backend_model>adminhtml/system_config_backend_design_exception</backend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Fill in your delivery price rates</comment>
                        </weight_price>
                    </fields>
                </new_method>
            </groups>
        </carriers>
    </sections>
</config>